/* github markdown style from Mou */
.md *{margin:0;padding:0;}
.md {
  font-size: 18px;
  color:black;
  line-height:1.4em;
  padding: 0.7em;
}
.md p {
  margin:1em 0;
  line-height:1.5em;
}
.md table {
  font-size:inherit;
  font:100%;
  margin:1em;
}
.md table th{border-bottom:1px solid #bbb;padding:.2em 1em;}
.md table td{border-bottom:1px solid #ddd;padding:.2em 1em;}
.md input[type=text],input[type=password],input[type=image],textarea{font:99% helvetica,arial,freesans,sans-serif;}
.md select,option{padding:0 .25em;}
.md optgroup{margin-top:.5em;}
.md pre {
  margin:1em 0;
  background-color:#eee;
  border:1px solid #ddd;
  padding:5px;
  line-height:1.5em;
  color:#444;
  overflow:auto;
  -webkit-box-shadow:rgba(0,0,0,0.07) 0 1px 2px inset;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;border-radius:3px;
}
.md pre code {
  font-size: 80%;
  padding:0;
  background-color:#eee;
  border:none;
}
.md code {
  background-color:#f8f8ff;
  color:#444;
  padding:0 .2em;
  border:1px solid #dedede;
}
.md img{border:0;max-width:100%;}
.md abbr{border-bottom:none;}
.md a{color:#4183c4;text-decoration:none;}
.md a:hover{text-decoration:underline;}
.md a code,a:link code,a:visited code{color:#4183c4;}
.md h2,h3{margin:1em 0;}
.md h1,h2,h3,h4,h5,h6{border:0;}
.md h1{font-size:170%;border-top:4px solid #aaa;padding-top:.5em;margin-top:1.5em;}
.md h1:first-child{margin-top:0;padding-top:.25em;border-top:none;}
.md h2{font-size:150%;margin-top:1.5em;border-top:4px solid #e0e0e0;padding-top:.5em;}
.md h3{margin-top:1em;}
.md hr{border:1px solid #ddd;}
.md ul{margin:1em 0 1em 2em;}
.md ol{margin:1em 0 1em 2em;}
.md ul li,ol li{margin-top:.5em;margin-bottom:.5em;}
.md ul ul,ul ol,ol ol,ol ul{margin-top:0;margin-bottom:0;}
.md blockquote{margin:1em 0;border-left:5px solid #ddd;padding-left:.6em;color:#555;}
.md dt{font-weight:bold;margin-left:1em;}
.md dd{margin-left:2em;margin-bottom:1em;}
