<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>turtlenote</title>
    <!--<link href="favicon.ico" rel="shortcut icon" type="image/x-icon"/>-->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">
      body {height:100%}
      html {height:100%}
      #btnarea {padding-top:10px;text-align:center;}
      .btn {width:10%}
      #textarea {height:90%}
      #input {float:left;position:relative;width:50%;height:100%;margin:10px 0px 0px 3px;padding:0px}
      #output {float:left;position:relative;width:49%;height:100%;margin:10px 0px 0px 3px;padding:0px;overflow-y:scroll;}
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"> </script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ["\\(","\\)"]], processEscapes: true } });
    </script>
    <script type="text/javascript" 
      src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> 
    </script>
    <script type="text/javascript">
      window.onbeforeunload = function(){
        return "do you want leave?";
      } 
      function convert() {
        $.post('/convert',{content:$('#input').val()},function(result){
            $('#output').html(result); MathJax.Hub.Queue(["Typeset",MathJax.Hub,"output"]);});
      }
      var fn = null;
      function save() {
        if(!fn) fn = prompt('file name (with or without .md):');
        if(fn){
          document.title = 'turtlenote - ' + fn;
          $.post('/save',{filename:fn, content:$('#input').val()});
          alert('OK');
        }
      }
      function savehtml() {
        if(!fn) fn = prompt('title:');
        if(fn){
          document.title = 'turtlenote - ' + fn;
          $.post('/savehtml',{filename:fn, content:$('#input').val()});
          alert('OK');
        }
      }
      function load(){
        $.post('/allmd',{},function(fl){
            fl = JSON.parse(fl);
            if(fl.length==0){
              alert('no .md files to load.');
              return;
              }
            lfn = prompt('all .md files:\n'+fl.join('\n')+'\nthe one you want:');
            if(lfn){
              fn = lfn; document.title = 'turtlenote - ' + fn;
              $.post('/load',{filename:fn},function(result){$('#input').val(result);});
              }
            });
      }
    </script>
  </head>
  <body>
    <div id='btnarea'>
      <button id='conv' class='btn btn-primary' onClick='convert()'>convert</button>
      <button id='save' class='btn' onClick='save()'>save to .md</button>
      <button id='load' class='btn' onClick='load()'>load .md</button>
      <button id='savehtml' class='btn' onClick='savehtml()'>save to .html</button>
    </div>
    <div id='textarea'>
      <textarea id='input'></textarea>
      <div id='output' class='well'></div>
    </div>
  </body>
</html>
<!-- vim: set ft=html ts=2 sts=2 sw=2 et sta: -->
